.app {
	margin: auto;
}

.app h1 {
	max-width: 100%;
	font-size: 60px;
	font-weight: bold;
	background: rgb(63, 94, 251);
	background: linear-gradient(
		90deg,
		rgba(63, 94, 251, 1) 0%,
		rgba(252, 70, 107, 1) 100%
	);
	color: aliceblue;
}

.app .faq {
	max-width: 1000px;
	margin: auto;
	width: 50%;
	padding: 10px;
}
